.listMovie .ant-carousel .slick-dots li.slick-active button {
  background-color: orange;
}

.listMovie .ant-carousel .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.listMovie .ant-carousel .slick-dots li {
  margin-inline: 12px;
}

.listMovie .ant-carousel .slick-dots-bottom {
  bottom: 0px;
}